.heading { 
 width: 80% ;
 font-size: 25px ;
}
body {
    background:linear-gradient(.25turn,rgb(25, 221, 246),rgb(80,250,225));
} 
#camera,#result {
    width: 350px;
    height: 280px;
    border: 2px solid black;
}
